.chatroom-top {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px
}
.toolbar {
    display: flex;
}
.chatroom-top h3 {
    margin: 0px;
}
.chatroom-top .back-btn, .member-info-btn{
    border: none;
    background: none;
}
.chatroom-top .back-btn {
    margin-right: 10px;
}

.chatroom-top .member-info-btn {
    padding: 0px;
    color: #6b6b6b;
}

.chatroom-message {
    height: 500px;
    overflow: auto;
    /* background-color: rgba(51, 51, 51, 0.5); */
}
img {
    width: 50px;
    height: 50px;
    border-radius: 35%;
    /* margin-bottom: 10px; */
}
.user-container {
    /* width: 100%; */
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: aqua; */
}
.user-container .other {
    display: flex;
    align-items: flex-start;
}
.other .box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 8px;
}
.other .nickname {
    margin-bottom: 5px;
}
.other .balloon {
    background-color: #484848;
    color: white;
    border-radius: 5px;
    padding: 10px 12.8px;
    max-width: 179px; /* 최대 너비 설정 */
    overflow-wrap: break-word; /* 텍스트가 너비를 초과할 경우 단어 단위로 줄 바꿈 */
}
.other .balloon::after {
    content: "";
    border-top: 8px solid transparent;
    border-left: 0px solid transparent;
    border-right: 8px solid #484848;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 35px;
    left: -5px;
}
.other .other-message-box {
    display: flex;
    align-items: flex-end;
}
.other-message-box .send-time {
    margin-left: 10px;
}
.user-container .mine {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: flex-end;
}
.mine .balloon {
    background-color: #484848;
    color: white;
    border-radius: 5px;
    padding: 10px 12.8px;
    max-width: 179px; /* 최대 너비 설정 */
    overflow-wrap: break-word; /* 텍스트가 너비를 초과할 경우 단어 단위로 줄 바꿈 */
}
.mine .balloon::after {
    content: "";
    border-top: 8px solid transparent;
    border-left: 8px solid #484848;
    border-right: 0px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 2px;
    right: -5px;
}
.mine .send-time {
    margin-right: 10px;
}

.input-box {
    display: flex;
    justify-content: space-around;
}
.input-box textarea {
    width: 330px;
    height: 45px;
    resize: none;
}