<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav th:fragment="common_sidebar">
    <button class="user-btn" id="userBtn">
        <i class="fa-solid fa-user fa-2x"></i>
    </button>
    <button class="chatroom-btn" id="chatroomId">
        <i class="fa-solid fa-comment fa-2x"></i>
    </button>
    <button class="logout-btn" id="logoutBtn">
        <i class="fa-solid fa-right-from-bracket fa-2x" style="color: #000000;"></i>
    </button>
</nav>
</body>
</html>