/* 채팅 관련 */
.chat-room {
    height: 550px;
    overflow: auto;
}
.chat-room .user {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    /* margin: 20px; */
    margin: 0px 10px;
    padding: 10px
}
.chat-room .user-container:hover {
    background-color: rgb(255, 227, 194, 0.5);
}
.chat-room .user-info {
    display: flex;
    flex-direction: column;
}
.chat-room img {
    width: 50px;
    height: 50px;
    border-radius: 35%;
}
.chat-room .user-top {
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.chat-room .nickname {
    font-weight: bold;
}
.chat-room .person-count {
    font-size: 13px;
    color: #9c9b9b;
    margin-left: 3px;
}
.chat-room .comment {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5px; /* 마지막 내용과 닉네임/날짜 사이의 간격 */
    width: 200px; /* 고정된 너비 설정 */
    max-height: 3.6em; /* 영역의 최대 높이를 설정 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
    display: -webkit-box; /* webkit 기반으로 처리 */
    -webkit-line-clamp: 2; /* 최대 2줄까지만 보여주도록 설정 */
    -webkit-box-orient: vertical; /* FlexBox의 컨테이너 방향을 수직으로 변경 */
}