<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{common/header :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/chatroom/chatroom-inner.css}">
</head>
<body>
    <section>
        <div class="main">
            <div class="menu-box">
                <div class="chatroom-top">
                    <h3 class="chatroom-title">채팅방 이름</h3>
                    <button type="button" class="close-btn" id="chatroomCloseBtn">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>
            <div class="chatroom-message">
                <div class="user-container">
                    <div class="other">
                        <img src="d3BPj1706541860.jpg" alt="">
                        <div class="box">
                            <span class="nickname">닉네임</span>
                            <div class="ballon">
                                <span class="commnet">내용</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-container">
                    <div class="mine">
                        <div class="ballon">
                            <span class="commnet">내용</span>
                        </div>
                    </div>
                </div>
                <div class="user-container">
                    <div class="mine">
                        <div class="ballon">
                            <span class="commnet">내용</span>
                        </div>
                    </div>
                </div>
                <div class="user-container">
                    <div class="other">
                        <img src="d3BPj1706541860.jpg" alt="">
                        <div class="box">
                            <span class="nickname">닉네임</span>
                            <div class="ballon">
                                <span class="commnet">내용</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <textarea name="message" id="chatMessage"></textarea>
                <button type="button" id="sendMessageBtn">전송</button>
            </div>
        </div>
    </section>

    <script type="text/javascript" th:src="@{/js/chatroom/chatroomMessage.js}"></script>
</body>
</html>