<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{common/header :: common_header(~{::title},~{::link})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>로그인</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="img-box">
                <i class="fa-regular fa-comments fa-5x"></i>
            </div>
            <form class="login-form" action="/login" method="POST">
                <div th:if="error" class="valid">
                    <a th:text="${exception}"></a>
                </div>
                <input type="text" class="email" id="email" name="email" placeholder="아이디">
                <input type="password" class="password" id="password" name="password" placeholder="비밀번호">
                <input id="submit" type="submit" value="로그인">
            </form>
            <div class="help-box">
                <a th:href="@{/register}" class="register-btn">아직 계정이 없으신가요?</a>
                <div class="find-box">
                    <a th:href="@{/#}" class="find-id-btn">계정 찾기</a> |
                    <a th:href="@{/#}" class="find-passwd-btn">비밀번호 찾기</a>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>