<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{common/header :: common_header(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/common/common_chatroom.css}">
    <link rel="stylesheet" th:href="@{/css/common/side-bar.css}">
    <link rel="stylesheet" th:href="@{/css/profile/profile.css}">
    <link rel="stylesheet" th:href="@{/css/modal/modal.css}">
    <link rel="stylesheet" th:href="@{/css/profile/profile-view-modal.css}">
    <link rel="stylesheet" th:href="@{/css/profile/profile-edit-modal.css}">
</head>
<body>
    <section>
        <div th:replace="~{/fragments/side_bar :: common_sidebar}"></div>
        <div class="main">
            <form class="menu-box" action="" method="get">
                <span>회원</span>
                <div class="btn-box">
                    <button type="button" class="search-btn" id="searchFriendBtn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <button type="button" class="plus-btn" id="addFriendBtn">
                        <i class="fa-solid fa-user-plus"></i>
                    </button>
                </div>
            </form>
            <div class="chat-room" id="profileScroll">
                <div class="user-container">
                    <div class="user" th:object="${myInfo}">
                        <input type="hidden" class="friend-id" th:value="*{id}"/>
                        <img th:src="|/api/v1/friends/profile/*{profileImg}|" alt="">
                        <div class="user-info">
                            <div class="user-top">
                                <div>
                                    <span class="nickname" th:text="*{nickname}">닉네임</span>
                                </div>
                            </div>
                            <span class="comment" th:text="*{statusMessage}">마지막내용입니다아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아</span>
                        </div>
                    </div>
                </div>
                <hr class="line">
                <div class="friend-list">
                    <div th:each="friend : ${friendList.userInfo}" class="user-container">
                        <div class="user">
                            <input type="hidden" class="friend-id" th:value="${friend.userId}"/>
                            <img th:src="|/api/v1/friends/profile/${friend.profileUrl}|" alt="">
                            <div class="user-info">
                                <div class="user-top">
                                    <div>
                                        <span class="nickname" th:text="${friend.nickname}">닉네임</span>
                                    </div>
                                </div>
                                <span class="comment" th:text="${friend.statusMessage}">마지막내용입니다아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <div th:replace="~{/modal/friend-add-modal :: friend-add-modal}"></div>
        <div th:replace="~{/modal/friend-search-modal :: friend-search-modal}"></div>
        <div th:replace="~{/modal/profile-view-modal :: profile-view-modal}"></div>
        <div th:replace="~{/modal/profile-view-modal :: profile-edit-modal}"></div>
    </div>

<!--    <script type="text/javascript" th:src="@{/js/test.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/modal/modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/fragment/sideBar.js}"></script>
    <script type="text/javascript" th:src="@{/js/profile/profile.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/profileSearch.js}"></script>
    <script type="text/javascript" th:src="@{/js/profile/profileView.js}"></script>
    <script type="text/javascript" th:src="@{/js/profile/profileEdit.js}"></script>
</body>
</html>