<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{common/header :: common_header(~{::title},~{::link})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <title>회원가입</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="img-box">
                <i class="fa-regular fa-comments fa-5x"></i>
            </div>
            <table th:object="${user}">
                <tr>
                    <td>
                        <label for="email">아이디</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{email}" id="email">
                    </td>
                    <td>
                        <button id="duplicate-btn">중복확인</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="nickname">닉네임</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{nickname}" id="nickname">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">비밀번호</label>
                    </td>
                    <td>
                        <input type="password" th:field="*{password}" id="password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password-check">비밀번호 확인</label>
                    </td>
                    <td>
                        <input type="password" id="password-check" class="password">
                    </td>
                </tr>
            </table>
            <div class="decide-box">
                <button id="cancel">취소</button>
                <button id="submit">회원가입</button>
            </div>
        </div>
    </section>
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
</body>
</html>