.modal-main > .search-area {
    margin: auto;
    margin-bottom: 8px;
}
.modal-view {
    margin: auto;
    margin-top: 10px;
    overflow: auto;
}
.modal .user{
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}
.modal img {
    width: 50px;
    height: 50px;
    border-radius: 35%;
}
.modal .user-info {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-view .checkbox {
    margin-right: 10px;
}
.modal .modal-footer {
    float: right;
    margin: 20px 8px;
}
.modal-main .btn-box {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.btn-box button {
    width: 50px;
    height: 30px;
    border: none;
    background: none;
}
.modal-main .modal-next-btn:hover, 
.modal-submit-btn:hover, 
.modal-back-btn:hover {
    color: blue;
}

.modal .friend-list {
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
}
.friend-list .user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.friend-list .user {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px;
}
.friend-list .user-info {
    width: 60px;
    font-size: 14px;
    text-align: center;
}
.modal .input-chatroom {
    display: none;
}
.modal-view .title {
    width: 280px;
    height: 30px;
    margin: auto;
}
.modal-footer .modal-submit-btn {
    display: none;
}